.feature-home {
    justify-content: center;
}

.feature-item {
    max-width: 300px;
    position: relative;
    display: inline-block;
    margin-bottom: 24px;
    /* height: 375px; */
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.feature-item__img {
    height: 100%;
    float: left;
    width: 100%;
    object-fit: cover;
}

.product__item-img {
    width: 100%;
    display: block;
    border-radius: 2px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
}

.product-body {
    padding: 10px;
    border-radius: 2px;
    border: 0.5px solid #f0ecec;
}

.product__item-heading {
    font-size: 2rem;
    line-height: 2rem;
    color: #555;
    padding: 20px 0 10px;
}

/* TAB */

.tabs {
    position: relative;
    display: flex;
}

.categories {
    margin-left: 37%;
    position: relative;
    display: inline;
}

.categories .line {
    position: absolute;
    left: 0;
    bottom: 0;
    /* h: 0; */
    height: 6px;
    border-radius: 15px;
    background-color: #501b1b;
    transition: all 0.2s ease;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #501b1b;
    transition: all 0.2s ease;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #f3eaea;
    background-color: rgb(167, 48, 48);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tab-icon {
    font-size: 24px;
    width: 32px;
    position: relative;
    top: 2px;
}

.tab-item:hover {
    opacity: 1;
    background-color: rgba(194, 53, 100, 0.05);
    border-color: rgba(194, 53, 100, 0.1);
}

.tab-item.active {
    opacity: 1;
}

.tab-content {
    padding: 28px 0;
}

.tab-pane {
    color: #333;
    display: none;
}

.tab-pane.active {
    display: block;
}

.tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

.info__image {
    display: block;
    width: 60%;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 3px;
}


/*  */