.eZBZqd {
    background: #333333;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.bzhVOu {
    max-width: 1400px;
    height: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0 5px 0;
    z-index: 10;
}

.efoZGB {
    padding: 0;
    width: 300px;
}
@media screen and (max-width:1200px) {
    .efoZGB {
        width: 150px;
    }
}

@media screen and (max-width:480px) {
    .efoZGB {
        width: 100px;
    }
}
.vEvIV {
    padding: 0;
    border-style: solid;
    border-color: red;
    border-radius: 30px;
    width: 190px;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3rem;
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    .vEvIV {
        width: 145px;
        margin: 0 -10px;
    }
}
.cBSDkz {
    color: #e71a0f;
    font-size: 28px;
    font-weight: bold;
    margin: auto;
    margin-left: -10px;
}

.ebZoEH {
    color: #ffdd00;
    font-size: 12px;
    font-weight: bold;
    margin: auto;
    margin-left: 5px;
    margin-right: -10px;
}

@media screen and (max-width:1200px) {
    .ebZoEH {
        display: none;
    }
}
.bnRdVN {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.bnRdVN:hover {
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}
.ibClPT {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bxEbQv {
    font-size: 18px;
    margin: auto;
    float: right;
    color: #fff;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@media screen and (max-width:1200px) {
    .bxEbQv {
        display: none;
    }
}

.iYTQgr {
    font-size: 24px;
    margin-right: 10px;
}

.deBwYv {
    height: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    z-index: 10;
    float: left;
    position: relative;
    width: 690px;
    height: 40px;
}

@media screen and (max-width:1200px) {
    .deBwYv {
        width: 300px;
    }
}

@media screen and (max-width:480px) {
    .deBwYv {
        width: 150px;
    }
}
.bqsQtc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
    background: white;
    border-top: dashed;
    border-bottom: dashed;
    border-color: red;
    border-width: 5px;
}
.kOcHiC {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1600px;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
    margin-left: -60px;
}
.kHqFke {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 20px;
    -webkit-align-items: left;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
}

@media screen and (max-width:768px) {
    .kHqFke {
        display: none;
    }
}
.hgasKl {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 0 1.5rem;
    height: 100%;
    cursor: pointer;
    margin-right: 10px;
    padding: 20px 20px;
}

.hgasKl:hover {
    color: #000;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-text-decoration: none;
    text-decoration: none;
}

.hgasKl.active {
    font-size: 20px;
    color: red;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-text-decoration: none;
    text-decoration: none;
}
.egwNNu {
    padding: 60px 60px 40px;
    background: #333333;
}
.cAbCct {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.dWctTY {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.fREbbL {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

@media (max-width:768px) {
    .fREbbL {
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
}
.bSNCxh {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}
@font-face {
    font-family: "revicons";
    fallback: fallback;
    /* src: url(/static/media/revicons.e8746a62.woff) format('woff'), url(/static/media/revicons.57fd05d4.ttf) format('ttf'), url(/static/media/revicons.a77de540.eot) format('ttf') */
}
.bgfcJO {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.bgfcJO:hover {
    color: #ffdd00;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.dyAZfm {
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap);

